.map-container {
  position: relative;
  width: 100%;
  max-width: 1500px; /* ancho máximo opcional */
  height: 100vh;    /* alto del mapa */
  margin: 0 auto;   /* centrar */
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}