* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.header-nav{

    text-align: right;

}

.textos-header{

    text-align: center;

}

.contenido-logo {
    width: 400px; 
    height: auto;
    display: block;
  }